# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
#*.lib
#*.a
#*.la
#*.lo

# Shared objects (inc. Windows DLLs)
#*.dll
#*.so
#*.so.*
#*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# special
*.vscode/

*4.Test/test_FOCAS/
4.Test/test_FOCAS/FANUC_Focas_API
4.Test/test_FOCAS/fwlib
4.Test/test_FOCAS/new_fwlib/fwlib


